@charset "utf-8";
/* CSS Document */


/***global
*******************************/
body{
	font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif,TrueType;
	background:url(../img/common/bg.png) repeat-x left 40px;
	min-width:1000px;
}
h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight:normal;
}
h1 {
  font-size: 37px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}


/***main content
*******************************/
.content{
}
.main-header{
  background:url(../img/common/bg.jpg) no-repeat center 40px;
  text-align:center;
}

/***footer
*******************************/
.footer{
	margin:80px 0 0 0;
	padding:40px 0 40px 0;;
	background-color:#333;
}
.footer-links li{float:left;margin-left:20px;}
.footer ul li:first-child{margin-bottom:15px;margin-left:0px;color:#999;}
.footer a{color:#ddd;}
.copyright{color:#bbb;text-align:center;}
.footer hr.soften {
	height: 1px;
	margin: 30px 0 30px 0;
	background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 1), transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(255, 255, 255, 1), transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(255, 255, 255, 1), transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 1), transparent);
	border: 0;
}
/***borders
*******************************/
.no-border{
	border:none;
}
.border-right{
	border-right:1px solid #ddd;
}

/***icon links eg. Login Dropdown items
*******************************/
.icon-pos-adjust-for-yahei{
	margin-top:4px;
	
}

/***btn text
*******************************/
.btn-wide-spacing{
	letter-spacing:1px;
}

/***font
*******************************/
.white-font{
	color:white;
}

/***display
*******************************/
.hide{
	display: none;
}
